@media only screen and (max-width: 764px) {


  .navbar-container {
    display: none;
  }

  .navbar-container-mobile {
    display: block;
  }

  .right::after {
    display: none;
  }

  .contact-items span {
    display: none;
  }

  .contact-items i {
    font-size: 50px;
  }

  .border-right {
    display: none;
  }

  .col-lg-3 {
    margin-top: 30px !important;
  }
}